.galary{
    margin-top: 50px;
}
.galary-block{

}
.cats-item{
    height: 200px;
    width: 200px;
}
.galary-block-img{
height: 200px;
width: 200px;
overflow: hidden;
}
.galary-block-img:hover{
    transition: 1s;
    transform: scale(1.1);
}

.icon-item{
    position: relative;
    height: 30px;
    width: 30px;
    right: 40px;
    top: 80px;
}
.icon-item-active{
    position: relative;
    height: 30px;
    width: 30px;
    right: 40px;
    top: 80px;
    display: none;
}
